---
layout: base
---

    <header class="page-header">

        <h1 class="page-title">{{ title }}</h1>

        {% if sub_heading %}

            <p class="sub-heading">{{ sub_heading }}</p>

        {% endif %}

    </header>

    <div class="content flow">

        {{ content | safe }}

    </div>
