---
layout: base
---

<article class="">
    
    <div class="">
        
        <time class="" datetime="{{ date | timestamp }}">{{ date | dateDisplay }}</time>
        
        {% if tags %}
        
        <div class="">
            
            <ul class="">
                
                {# this will create a comma for multiple category links #}
                {% set comma = joiner() %}
                
                {% for item in tags %}
                
                {%- if item !== 'blog' -%}
                
                <li><a href="/categories/{{ item }}">{{ comma() }} {{ item | capitalize }}</a></li>
                
                {%- endif -%}
                
                {% endfor %}
                
            </ul>
            
        </div>
        
        {% endif %}
        
    </div>
    
</header>

{# featured post image #}
{% if post_image %}

<figure>
    
    <img data-src="{{ post_image }}" alt="{{ image_alt }}">
    
    {% if image_alt %}
    <figcaption>{{ image_alt }}</figcaption>
    {% endif %}
    
</figure>

{% endif %}

<div class="prose">
    
    {{ content | safe }}
    
</div>

</article>